---
import Layout from "../layouts/Layout.astro";

const posts = (await Astro.glob("./**/*.mdx")).sort(
  (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)
);
const formatDate = (dateString) => {
  if (!dateString) {
    return null;
  }

  const date = new Date(dateString);
  const formattedDate = date.toLocaleDateString("en-EN", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });

  return formattedDate;
};
---

<Layout root={true}>
  {
    posts.map((post) => (
      <article>
        <time datetime={post.frontmatter.date}>
          {formatDate(post.frontmatter.date)}
        </time>
        <h2>
          <a href={post.url}>{post.frontmatter.title}</a>
        </h2>
        <p set:html={post.frontmatter.abstract} />
      </article>
    ))
  }
</Layout>
